{{define "imports" }}
import hudson.security.*
{{ end}}

{{ define "script" }}

def username = "{{.username}}"
def password = "{{.password}}"
def instance = Jenkins.getInstance()

def hudsonRealm = new HudsonPrivateSecurityRealm(false)
hudsonRealm.createAccount(username, password)
instance.setSecurityRealm(hudsonRealm)
instance.save()

client.send("CreateUser", [username: 'rubentxu'])


{{ end}}

{{template "base_script.tmpl" .}}