{{define "imports" }}

import jenkins.model.*
import hudson.PluginWrapper

{{ end}}

{{ define "script" }}

def jenkins = Jenkins.getInstance()
def pluginManager = jenkins.getPluginManager()
def plugins = pluginManager.getPlugins()

def pluginList = []
plugins
  .sort(false) { a, b -> a.getShortName().toLowerCase() <=> b.getShortName().toLowerCase()}
  .each { PluginWrapper plugin ->
      pluginList.add([ shortName: plugin.getShortName(), version: plugin.getVersion(), displayName: plugin.getDisplayName() ])
   }

client.send("InstalledPlugins", pluginList)


{{ end}}

{{template "base_script.tmpl" .}}